<div class="task-list-container">

  <h2 class="mb-4">My Tasks</h2>

  <div class="task-grid">
    <mat-card *ngFor="let task of taskList()" class="task-card">

      <mat-card-title>
        {{ task.title }}
      </mat-card-title>

      <mat-card-content>
        <p>Status: <strong>{{ task.status }}</strong></p>
        <p>Priority: <strong>{{ task.priority }}</strong></p>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          *ngIf="task.status !== 'CLOSED'"
          (click)="markDone(task)"
        >
          Mark Done
        </button>

        <mat-icon *ngIf="task.status === 'CLOSED'" color="primary">
          check_circle
        </mat-icon>
      </mat-card-actions>

    </mat-card>
  </div>

</div>