.issue-list-container {
  max-width: 900px;
  margin: 0 auto;
}

.issue-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.issue-card {
  padding: 12px;
}

.pointer {
	cursor: pointer;
}